@charset "UTF-8";

.bodyContainer{
	width: 100%;
	height: 1100px;
	display: flex;
}
/* 왼쪽 카테고리 */
.mainCategory{
	margin-top: 96px;
	width: 300px;	
}

.category-body{
	margin: 50px;
}

.category-title{
	margin-top: 50px;
	margin-bottom: 100px;
}

.category-Box1>.category{
	margin-bottom: 50px;
}

.category-Box2>.category{
	margin-bottom: 50px;
}



/* 오른쪽 화면 */
.mainView{
	width: 100%;
	display: flex;
}


.mainViewBody1{
	width: 700px;
}

/* ViewBox1 */
.mainViewBox1{
	background-color: gray;
	height: 700px;
}

.modifyViewBox{
	width: 500px;
	height: 600px;
	margin: 100px;
}
.modifyBox{
	margin-bottom: 20px;
}

.modifyBox>label{
	margin-bottom: 10px;
}

.modifyBox>input{
	width: 350px;
}

.modify-btn{
	float: right;
	margin-right: 100px;
}
.modify-btn>button{
	width: 200px;
}

.mainViewBody2{
	background-color: blue;
	width: 950px;
	margin-top: 96px;
}

.mainViewBox2{
	height: 304px;
	background-color: red;
	
}

.infoViewBox{
}

.infoBox{
	margin-top: 20px;
	margin-bottom: 20px;
}


