@charset "UTF-8";
.bodyContainer{
	
		width: 100%;
		position: relative;
		
	}
.bodyContainer>video{
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	 filter: brightness(0.8);
}
	.registerContainer{
		width: 100%;
		position: fixed;
		z-index: 0;
	}
	.registerBody{
		justify-content: center;
		opacity: 0.9;
		
	}
	#mvo{
		position: relative;
		padding-top: 50px;
		margin-left: 35%;
		width: 800px;
		display: flex;
		flex-direction: row;
	}
	.registerMainBox{
		margin-top:100px;
	}
	
	.registerBox{
		margin-top: 10px;
		width: 300px;
	}
	#exampleInputPassword2{
		margin-top: 10px;
	}
	
	.egloo{
		position: absolute;
		width: 320px;
		height: 200px;
		background-color: white;
		top: 150px;
		right: 130px;
		border-radius: 5px 5px 0 0;
	}
	
	.egloo>img{
		position: absolute;
		top: 100px;
		right: 100px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.termsMainBox{
		margin-top: 300px;
		margin-left: 50px;
		height: 300px;
		background-color: white;
		border-radius: 0 0 5px 5px;
		padding: 10px;
	}
	.termsBox{
		margin-left: 20px;
	}
	
	.all-check{
		margin-left: 20px;
	}
	.tbBox{
		
	}
	
	.btnMainBox{
		display: flex;
		height: 300px;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 25px;
	}
	
	.bb-1, .bb-2{
		height: 40px;
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.member-Calrendar{
		width: 300px;
	}
	
	.addressBox{
		display: flex;	
		width: 500px;
	}
	
	.addressBox>.adressNum{
		width: 208px;
	}
	
	.rb-7, .rb-8{
		margin-top: 10px;
	}
	
	.terms-btn{
	margin-left: 20px;
	}
	
	.btn-primary{
		color: white;
		background-color: rgba(39,48,77,0.9);
		border: 1px solid rgba(39,48,77,0.9);
	}
	.errorFont{
		color: white;
		text-shadow: -1px 0px black, 0px 2px black, 2px 0px black, 0px -1px black;
	}
	.errorFont2{
		color: red;
	}
	.dropdown-menu {
    
    --bs-dropdown-min-width: 0;
	}
	
	.num-select:hover{
	
      	border-color: #0d6efd;
    	color: #6c757d;
	}
	.num-select:focus{
		box-shadow: 13,110,253;
	}
	.num-select {
	    background-color: white;
      
   		border : solid 1px;
      border-color: #dee2e6;
      border-radius: 5px;
	 padding-left: 3px;
	}
	.postNum{
		width: 92px;
	}
	.post{
		width: 92px;
	}
	
	#inputMemberPhone{
		display: none;
	}
	
	#termsModal{
	margin-top: 100px;
	}
	
	#staticBackdrop{
		margin-top: 100px;
	}
	
	.emailModalBody {
		width: 90%;
		margin-left: 20px;
	}