@charset "UTF-8";

.couponListTitle{
	width: 280px;
	background-color: white;
}

.devMainContainer{
	height: 2000px;
	background-color: rgb(139, 139, 139);
}


.couponContainer{
	margin-left: 70px;
}

.couponList{
	width: 1500px;
	max-height: 400px;
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 0.8);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tbody {
  max-height: 400px; /* tbody 최대 높이 설정 */
  overflow-y: auto; /* 필요한 경우 스크롤 생성 */
}

.couponList>h3{
	text-align: center;
}

.couponSetting{
	text-align: center;
	width: 500px;
	height: 700px;
	background-color: rgba(255, 255, 255, 0.8);
}

.form-check{
	margin-left: 10px;
	margin-right: 10px;
}

.coupone-setting-check{
	display: flex;
	justify-content: center;
}

.form-group>.coupon-input, 
.form-group>.form-select{
	margin-left: 25%;
	text-align: center;
	width: 250px;
}

.form-group{
	text-align: center;
}
.coupon-btn{
	text-align: center;
}
.coupon-create-btn{
	width: 250px;
	margin-top: 50px;
}

.settingAndOrder{
	display: flex;
	margin-top: 30px;
}

.couponOrder{
	margin-left: 20px;
	text-align: center;
	width: 980px;
	height: 700px;
	background-color: rgba(255, 255, 255, 0.8);
}

.couponOrder>form>.delete-coupon{
	margin-left: 25%;
	width: 500px;
}

.delete-coupon>#deleteCouponInput1, .delete-coupon>#button-addon2{
	text-align: center;
	height: 50px;
}
