@charset "UTF-8";

.dev-container{
	
}
.dev-notice-regbtn-container{
	height: 55px;
	background-color: #a5b4cc;
	border-bottom: solid 1px #e5e5e5;
	text-decoration: underline;
	position: relative;
}
.dev-notice-regbtn-container2{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.dev-notice-container{
	width: 98%;
	border: solid 1px black;
	margin: 0 auto;
}