@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Juafamily=Noto+Sans+KR:wght@300&family=Sunflower:wght@300;500&display=swap');


.bodyContainer{
	margin-top: 100px;
}



.itemMenuContainer{
	margin: 0 auto;
}

.menuCategory{
	width: 200px;
	margin-top:96px;
	position: fixed;
    height: 100vh;
    margin: 30px;
}

.itemContainer{
	position: relative;
	margin-left: 350px;
	width: 1260px;
	height: 800px;
	overflow: hidden;
	display: flex;
	transition: 0.5s;
}

.skiItemList{
	height: 1000px;
	
}

.itemImageBox{
	position: absolute;
	width: 2500px;
	margin: 0 auto;
	display: flex;
}

.itemImageBox div{	
	
	margin-bottom: 20px;
	box-sizing: border-box;
	position: relative;
}

.itemImageBox div img{
	width: 400px;
	height: 600px;
	object-fit: cover;
	cursor: pointer;
}

.itemImageBox div img:not(:last-chlid){
	margin-right: 20px;
}

.itemImageBox div p.fs-5{
	text-align: center;
	margin: 0 10px;
	height: 50px;
	font-weight: 700;
}


.slidePrevBtn{
	position: absolute;
	top: 280px;
	left: 30px;
	font-size: 50px;
	cursor: pointer;
}

.slideNextBtn{
	position: absolute;
	top: 280px;
	right: 30px;
	font-size: 50px;
	cursor: pointer;
}

.shopContainer{
	position: relative;
}


.shoppingBasket{
	position: absolute;
	background-color: white;
	border-radius: 5px;
	width: 350px;
	height: 800px;
	border: 2px solid black;
	right: -350px;
	z-index: 1;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 18px;
	transition: 0.5s;
}
.shoppingBasket>.shoppingBasketTitle{
	height: 100px;
	border-bottom: 1px solid gray;
}

.shoppingBasketTitle>p{
	text-align: center;
	margin-top: 20px;
}

.itemSelectDiv{
	display: flex;
	flex-direction: column;
}

.basketContainer{
	position: relative;
	display: flex;
	font-size: 18px;
}
.basketContainer>div>p{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.basketClose {
	position: absolute;
	font-size: 30px;
	top: 15px;
	right: 8px;
	cursor: pointer;
}

.reserveBtn {
	text-align: center;
	width: 150px;
}

.itemPriceSum{
	position: absolute;
	bottom: 0px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width:350px;
	height:100px;
	padding-top: 30px;
	text-align: center;
}