@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');
.bodyContainer{
	background-image: url("https://i.imgur.com/oF18Hkf.png");
}

.ski_item_top_text{
position: absolute;
    color: white;
    top: 50%;
    font-size: 90px;
    width: 750px;
    line-height: 115px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.itemMenuContainer{
	padding: 50px 0 50px 0;
	margin: 0 auto;
	background-color: white;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	box-shadow: 0px 0px 1px;
}
.itemMenuContainer>ul{
	float: right;
}

.menu_text{
	margin-left: 50px;
    font-weight: 700;
}

.menuCategory{
		font-family: 'Noto Sans KR', sans-serif;
	width: 200px;
	margin-top:96px;
    margin: 30px;
    font-size: 18px;
}

.itemContainer{
	margin-top: 20px;
	position: relative;
	width: 1600px;
	height: 660px;
	overflow: hidden;
	display: flex;
	transition: 0.5s;

}

.skiItemList{
	height: 1000px;
	
}

.itemImageBox{
	position: absolute;
	width: 2500px;
	margin: 0 auto;
	display: flex;
}

.itemImageBox div{	
	
	margin-bottom: 20px;
	box-sizing: border-box;
	position: relative;
}

.itemImageBox div img{
	width: 380px;
	height: 500px;
	object-fit: cover;
	cursor: pointer;
	margin: 0 10px;
	box
}

.itemImageBox div img:not(:last-chlid){
	margin-right: 20px;
}

.itemImageBox div p.fs-5{
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	margin-top: 10px;
	color: #666;
}


.slidePrevBtn{
	position: absolute;
	top: 280px;
	left: 30px;
	font-size: 50px;
	cursor: pointer;
}

.slideNextBtn{
	position: absolute;
	top: 280px;
	right: 30px;
	font-size: 50px;
	cursor: pointer;
}

.shopContainer{
	position: relative;
}


.shoppingBasket{
	position: absolute;
	background-color: white;
	border-radius: 5px;
	width: 350px;
	height: 800px;
	border: 2px solid black;
	right: -350px;
	z-index: 1;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
	font-size: 18px;
	transition: 0.5s;
}
.shoppingBasket>.shoppingBasketTitle{
	height: 100px;
	border-bottom: 1px solid gray;
}

.shoppingBasketTitle>p{
	text-align: center;
	margin-top: 20px;
}

.itemSelectDiv{
	display: flex;
	flex-direction: column;
}

.basketContainer{
	position: relative;
	display: flex;
	font-size: 18px;
}
.basketContainer>div>p{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.basketClose {
	position: absolute;
	font-size: 30px;
	top: 15px;
	right: 8px;
	cursor: pointer;
}

.reserveBtn {
	text-align: center;
	width: 150px;
}

.itemPriceSum{
	position: absolute;
	bottom: 0px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width:350px;
	height:100px;
	padding-top: 30px;
	text-align: center;
}
.ski_item_top_image{
	position:relative;
	background-image: url("https://www.northwave.com/img/cms/FW23%20SNOW/HOME/HOME.jpg");
	width: 100%;
	height: 800px;
	background-position : 0 -80px;
}
.ski_item_top_image>div{
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.nav-link{
	color: black;
	
}
.nav-link:hover {
	cursor: pointer;
	color: black;
}
.top_menu{
	font-size: 18px;
	float: right;
	color: #aaa;
}
.foot_image{
	position:relative;
	width: 100%;
	height: 300px;
	background-image: url("https://cdn.skimag.com/wp-content/uploads/2021/02/SKI0121-FOC-byGrantGunderson.jpg");
	background-position-y: -685px;
}
.foot_image>div{
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}