@charset "UTF-8";

.back {
	width: 100%;
}

.back img {
	width: 100%;
	height: 800px;
	object-fit : cover;
}

.date-group {
	width: 400px;
}

.input-box1 {
	width: 400px;
	
}

.input-box {
	position: relative;
}

.people {
	caret-color: transparent;

}

.peopleList {
	position: relative;
	color: #6c757d;
	margin: 0;
	background-color: white;
	width: 250px;
	position: absolute;
	top: 40px;
	right: 120px;
	border: solid 1px;
	border-color: #dee2e6;
	border-radius: 10px;
	padding-left: 5px;
	padding-top: 10px;
	height: 200px;
}

#dateRangePicker {
	caret-color: transparent;
}

#dateRangePicker:hover {
	cursor: pointer;
}

.people>span {
	float: right;
	margin-right: 10px;
}

.people:hover {
	cursor: pointer;
}

.calendar {
	margin-bottom: 5px;
}

.calendar:hover {
	cursor: pointer;
}

.people:hover {
	cursor: pointer;
}

.input-group .btn {
	position: relative;
	z-index: 0;
}


.box {
	
	width: 930px;
	padding: 5px;
	background-color: white;
	position: relative;
	height: 200px;
	left: 50%;
	transform: translateX(-50%);
	background-color:rgba(255,255, 255);
	top: 77%;
	position: absolute;
}

.box>* {
	margin-left: 50px;
	margin-top: 5px;
}

#innerbox {
	position: absolute;
	left: 0;
	top: -43%;
	padding: 10px;
	width: 100%;
	height: 350px;
	background-color:white;
}

.reserveBox .input-group {
	width: 400px;
}

.reserveBox .form-check {
    display: inline-block;
    margin-right: 100px;
}

.reserveBox .form-check .form-check-input{
	display: none;
}

.reserveBox .form-check img{
	cursor: pointer;
}

.daterangepicker {
	width: 300px !important; /* 전체 너비로 설정 */
	max-width: none !important; /* 최대 너비 설정 해제 */
	margin: 0 !important; /* 여백 제거 */
}

.daterangepicker .drp-calendar {
	display: none;
	max-width: 1000px;
}

.daterangepicker .ranges, .daterangepicker .drp-calendar {
	float: left;
	width: 100%;
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td
	{
	font-size: 15px;
	height: 40px;
}

.daterangepicker.show-calendar .ranges {
	margin-top: 0px;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect,
	.daterangepicker select.secondselect, .daterangepicker select.ampmselect
	{
	font-size: 15px;
	height: 35px;
	background-color: #357ebd;
	color: white;
	border-radius: 7px;
}

.daterangepicker .drp-selected {
	font-size: 15px;
}

.daterangepicker .drp-buttons .btn {
	font-size: 15px;
	font-weight: normal;
}

.people-Btn {
	display: flex;
	float: right;
	border: solid 1px;
	width: 126px;
	height: 42px;
	border-radius: 5px;
}

.people-Btn>div {
	width: 100%;
	text-align: center;
}

.people-Btn>div>button {
	border: 0px;
	width: 40px;
	height: 100%;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	color: #006ce4;
	font-size: 25px;
	background-color: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
}

.people-Btn>div>button>svg {
	fill: #006ce4;
}

.people-Btn>div>button:hover {
	background-color: #dbecff;
}

.form-control:read-only {
	background-color: white;
}

.input-box {
	display: flex;
	margin-left: 5px;
}

#peoplelistClose {
	width: 80%;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.list-Btn-Box {
	margin-left: 10px;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	margin-right: 10px;
}

.btn-outline-primary:hover {
	background-color: #dbecff;
	color: #dee2e6;
}

.rentalText {
	font-family: 'Hahmlet', serif;
	padding: 50px 0 10px 20px;
	
}

.move-hotel {
	text-decoration: none;
	color: gray;
}

.move-hotel:hover {
	text-decoration: none;
	color: gray;
}

.skiSlopeContainer{
	width: 70%;
	height: 1150px;
	margin: auto;
}



.skiSlopeContainer h1{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    text-align: center;
}

.skiSlopeContainer img{
	margin-top: 100px;
	object-fit: fill;
}


.contentContainer{
	width: 100%;
	margin-top: 100px;
}

.contentContainer .contentBox{
	width: 50%;
	height: 750px;
	text-align : center;
	margin-top: 50px;
	left: 30px;
	display: flex;
	flex-direction: column;
}

.contentBox p{
	margin-left: 100px;
}


.liftTicketInfo{
	width: 500px;
	height: 500px;
	margin: 50px auto 0 300px;
	left: 50%;
	overflow-y: scroll;
}



.liftTicketInfo div{
	display: flex;
	flex-direction: row;
	cursor: pointer;
	margin-bottom: 20px;
}

.liftTicketInfo div:hover{
	background-color: #ddd;
}

.liftTicketInfo img{
	width: 500px;
    height: 300px;
    margin-bottom: 10px;
}

.liftTicketInfo p{
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
	font-family: 'Hahmlet', serif;
    position: absolute;
    left: 6%;
    margin-bottom: 20px;
}

.liftTicketInfo div img{
	position: absolute;
	left: 0;
	position: relative;
	margin: 5px 0;
}
.content1{
	display: flex;
}


.liftInfo{

    margin: 50px 0 0 50px;
	right: 20%;
	
}

.liftInfo div{
	width: 600px;
	height: 400px;
	border-top: 3px solid black;
	margin-top: 30px;
}

.liftInfo div ul{
	margin: 10px;
}

.liftInfo div ul li{
	margin-top: 20px;
}
.liftTicketInfo>div{
	position: relative;
}
.liftTicketInfo>div>p{
	position: absolute;
	top: 33%;
}