<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.www.repository.QnaDAO">

	<!-- Q&A 코드 라인 -->
	<insert id="insert" parameterType="com.web.www.domain.board.QnaVO">
		insert into qna(qna_writer, qna_category, qna_title, qna_content, qna_secret)
		values(#{qnaWriter}, #{qnaCategory}, #{qnaTitle}, #{qnaContent}, #{qnaSecret})
	</insert>
	
	<select id="selectOneQnaNum" resultType="long">
		select max(qna_num) from qna
	</select>
	
	<select id="selectList" resultType="com.web.www.domain.board.QnaVO">
		select * from qna where qna_del='N'
		<include refid="search"></include>
		order by qna_num desc limit #{pageStart}, #{qty}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(qna_num) from qna where qna_del='N' <include refid="search"></include>
	</select>
	
	<select id="selectDetail" resultType="com.web.www.domain.board.QnaVO">
		select * from qna where qna_del='N' and qna_num=#{qnaNum}
	</select>
	
	<update id="QnaFileModify">
		update qna set 
		qna_category=#{qnaCategory}, qna_title=#{qnaTitle}, qna_content=#{qnaContent}, qna_mod_at=now()
		where qna_num = #{qnaNum}
	</update>
	
	<update id="delete">
		update qna set qna_del='Y' where qna_num=#{qnaNum}
	</update>
	
	
	
	<!-- Q&A 답변 코드 라인 -->
	<insert id="ansInsert" parameterType="com.web.www.domain.board.QnaAnsVO">
		insert into qna_ans(qna_ans_writer, qna_ans_title, qna_ans_content, qna_num)
		values(#{qnaAnsWriter}, #{qnaAnsTitle}, #{qnaAnsContent}, #{qnaNum})
	</insert>
	
	<update id="qnaIsokUpdate">
		update qna set qna_isok='Y' where qna_num=#{qna_num}
	</update>
	
	<select id="selectAnsDetail" resultType="com.web.www.domain.board.QnaAnsVO">
		select * from qna_ans where qna_ans_del='N' and qna_num=#{qnaNum}
	</select>
	
	<select id="selectOneQnaAnsNum" resultType="long">
		select max(qna_ans_num) from qna_ans
	</select>
	
	
	
	<sql id="search">
		<if test="type != null">
			<trim prefix="and (" suffix=")" prefixOverrides="OR">
				<foreach collection="typeToArray" item="type">
					<trim prefix="OR">
						<choose>
							<when test="type == 't'.toString()">
								qna_title like concat('%', #{keyword}, '%')
							</when>
							<when test="type == 'c'.toString()">
								qna_content like concat('%', #{keyword}, '%')
							</when>
							<when test="type == 'g'.toString()">
								qna_category like concat('%', #{keyword}, '%')
							</when>
							<when test="type == 'w'.toString()">
								qna_writer like concat(#{keyword})
							</when>
						</choose>
					</trim>	
				</foreach>
			</trim>
		</if>
	</sql>

</mapper>