@charset "UTF-8";



.back{
    width: 100%;  
	object-fit:cover;
}
.back>img{
	width: 100%;
	height: 800px;
}
.selector{
    width: 200px;
    background-color: blue;
    margin-left: 10%;
    color: white;
}
.date-group{
	width: 400px;	
}
.input-group{
	width: 400px;
}
.input-box{
	position: relative;
}
.people {
    caret-color: transparent;
}
.peoplelist{
	position : relative;
	color : #6c757d;
	margin : 0;
	background-color: white;
	width: 250px;
	position: absolute;
	top: 40px;
	left: 100px;
	border: solid 1px;
	border-color: #dee2e6;
	border-radius: 10px;
	padding-left: 5px;
	padding-top: 10px;
	height: 200px;
}
#dateRangePicker{
  caret-color: transparent;
}
#dateRangePicker:hover{
	cursor: pointer;
	
}
.people > span{
	float: right;
	margin-right: 10px;
}
.people:hover{
	 cursor: pointer;
}
.calendar{
	margin-bottom: 5px;
	}
.calendar:hover{
    cursor: pointer	;
}
.people:hover{
    cursor: pointer	;
}
.input-group .btn {
    position: relative;
    z-index: 0;
}
.box{
    width: 930px;
    padding: 5px;
    position: relative;
    height: 200px;
    left: 50%;
   	transform: translateX(-50%);
   	top:76%;
   	position: absolute;
   	background-color:rgba(255,255, 255);
   
   	 
}

.hotelText{
	
	font-family: 'Hahmlet', serif;
	padding: 50px 0 10px 10px;
	
}
.box > *{
    margin-left: 50px;
    margin-top: 5px;
 

}
#innerbox{
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 600px;
    background-color:rgba(255,255, 255);
}

.daterangepicker {
    width: 600px !important; /* 전체 너비로 설정 */
    max-width: none !important; /* 최대 너비 설정 해제 */
    margin: 0 !important; /* 여백 제거 */
}
.daterangepicker .drp-calendar {
    display: none;
    max-width: 1000px;
}

.daterangepicker .ranges, .daterangepicker .drp-calendar {
     float: left; 
     width: 50%;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
	font-size: 15px;
	height: 40px;
}
.daterangepicker.show-calendar .ranges {
    margin-top: 0px; 
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
	font-size: 15px;
	height: 35px;
	background-color: #357ebd;
	color: white;
	border-radius: 7px;
}
.daterangepicker .drp-selected {
  
    font-size: 15px;
   
}
.daterangepicker .drp-buttons .btn {
   
 font-size: 15px; 
 font-weight:normal; 

}

.people-Btn{
	display: flex;
	float: right;
	border :solid 1px;
	width: 126px;
	height: 42px;
	border-radius: 5px;

}
.people-Btn>div{
	
	width: 100%;
    text-align: center;
	
}
.people-Btn>div>button{
	
		border: 0px;
		width: 40px;
		height: 100%;
		margin: 0;
		padding: 0;
		border-radius: 5px;
		color: #006ce4;
		font-size: 25px;
		background-color: none;
		   display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    	background-color: white;
    
   
}
.people-Btn>div>button>svg{
	fill: #006ce4;
}
.people-Btn>div>button:hover{
	background-color:  #dbecff;
}

.form-control:read-only{
	background-color: white;
}

.input-box{
		display: flex;
		margin-left: 5px;
		border-radius: 10px;
		margin-top: 5px;
	}
	
#peoplelistClose{
	width:80%;
	position: absolute;
	
	
	
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	
}

	
	.list-Btn-Box{
		margin-left: 10px;
		height: 40px;
	    line-height: 40px;
	    margin-top: 10px;
	    margin-right: 10px;
	}
.btn-outline-primary:hover {
		background-color:  #dbecff;
		color: #black;
}
.nextBtn{
	padding: 5px 25px 5px 25px;
}
.room-selecor{
	margin: 30px 0 0 20px;
	width : 210px;
	 	user-select:none;
 
}
.room-selecor>li{
	width: 190px;
    text-align: center;
	margin-bottom: 10px;
}
.room-selecor>li:hover{
	cursor: pointer;
	background-color:  #d3d4d5;
	color: white;
}
.room-rank{
	background-color:  #83878a;
	color: white;
	pointer-events: none;
}
.paybox{
	position: absolute;
	bottom : 10px;
	left: 50%;
   	transform: translateX(-50%);
   	width: 300px;
}
.room-info-box{
	
	 position: absolute;
    top: 30px;
    right: 20px;
    width: 680px;
    height: 480px;
    user-select: none;
    
}.room-image{
	width: 500px;
	height: 300px;
	background-size: cover;
	margin: auto;
	margin-top:30px;
	
}.room-explain{
	padding:5px;
	padding-top:15px;
	width: 300px;
	margin: auto;
	text-align: center;
}
.hidden-info{
	display: none;
}
#closeBtn{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.room-option{
	display: none;
	}
.room-name{
	font-size:25px ;
	margin-top:15px;
	text-align: center;
	font-family: 'Hahmlet', serif;
}
.move-rental{
	text-decoration: none;
	color: gray;
}
.move-rental:hover {
	text-decoration: none;
	color: gray;
}

.contentContainer{
	padding-top:130px;
	width: 100%;
	background-color: #f0f0f0;
}
.content1{
	width: 100%;
	display: flex;
	justify-content: center;
	 padding: 0 300px 100px;
	}
	
.content1>.textarea{
	width: 100%;
	text-align: center;
}
.content1>.imgarea{
	width: 100%;
}
.textarea > .title{
	padding:30px 0;
	width: 1374px;
	margin: auto;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 50px;
	text-align: left;
	
}
.textarea > .fs-4{
	    padding: 20px;
}
.textarea > .content{

	color: #666;
    text-wrap: balance;
    margin: auto;
    width: 500px;;
   
	
}
.content1>div>img:hover{
	opacity: 0.8;
}