@charset "UTF-8";

.back{
    width: 100%;
    height: 100vh;
}
.selector{
    width: 200px;
    background-color: blue;
    margin-left: 10%;
    color: white;
}
.calendar {
	width: 400px;
    height: 500px;
    background-color: #ff9c9c;
   
}
.people{
    width: 400px;
    height: 50px;
    background-color: #d6fcb4;

}

.calendar:hover{
    cursor: pointer	;
}
.people:hover{
    cursor: pointer	;
}
.payBtn{
    width: 400px;
    height: 50px;

}
.box{
    width: 80%;
    margin-left: 10%;
    background-color: antiquewhite;
    padding: 5px;
    position: relative;
}

.box > *{
    margin-left: 50px;
    margin-top: 5px;

}
#innerbox{
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: aqua;
    transform: translate(-50px, -5px);
}
