.roomType{
		width: 95px;
	}
.throomNum{
	width: 81px;
}
.throomType{
		width: 115px;
	}
	
.roomArea{
	width: 91px;
}
.throomArea{
	width: 111px;
}
.form-control{
	text-align: center;
}
.roomStandardPeople,.roomCount{
	width: 62px;
}
.throomStandardPeople,.throomCount{
	width: 82px;
}
.roomFee{
	width: 103px;
}
.throomFee{
	width: 123px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.roomExplain,.roomName{
	width: 260px;
}
.throomExplain,.throomName{
	width: 280px;
}
.hotelListContainer{
	width : 99%;
	height:800px;
 	margin: 10px;
 	overflow: auto; 
}
.mmmmainContainer{
	
}
.th-bottun{
	width: 140px;
}