<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.web.www.repository.AdminDAO">
  	<select id="getMemberList" resultType="com.web.www.domain.member.MemberVO">
  		select * from member
  	</select>
  	
  	<select id="selectAuths" resultType="com.web.www.security.AuthVO">
  		select * from auth_member where member_id = #{memberId}
  	</select>
  	
  	<select id="getAuthCount" resultType="int">
  		select count(*) from auth_member where member_id = #{memberId}
  	</select>
  	
  	<insert id="authUpManager">
  		insert into auth_member(member_id, auth) value(#{memberId}, 'ROLE_MANAGER')
  	</insert>
  	<insert id="authUpAdmin">
  		insert into auth_member(member_id, auth) value(#{memberId}, 'ROLE_ADMIN')
  	</insert>
  	<delete id="authDownAdmin">
  		delete from auth_member where member_id = #{memberId} and auth = 'ROLE_ADMIN'
  	</delete>
  	<delete id="authDownManager">
  		delete from auth_member where member_id = #{memberId} and auth = 'ROLE_MANAGER'
  	</delete>
  	
  	<select id="getCouponList" resultType="com.web.www.domain.coupon.CouponSystem">
  		select * from coupon_system
  	</select>
  </mapper>