<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.www.repository.BusDAO">
	<insert id="busReserve">
		insert into bus(bus_num, member_num, bus_region, bus_start_date, bus_people, bus_people_limit)
		values(#{busNum}, #{memberNum}, #{busRegion}, #{busStartDate}, #{busPeople}, #{calculatedBusLimit})
	</insert>
</mapper>