<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.web.www.repository.HotelDAO">
  
  	<insert id="updateRoomInfo">
		INSERT INTO room_info (hotel_room_num,member_num,hotel_reserve_stay_start,hotel_reserve_stay_end,hotel_reserve_fee,
								hotel_reserve_people,hotel_reserve_child)
		VALUES (#{hotelRoomNum},#{memberNum},#{hotelReserveStayStart} ,#{hotelReserveStayEnd},
				#{hotelReserveFee},#{hotelReservePeople},#{hotelReserveChild});
		
	</insert>
  	<insert id="addRoom">
		INSERT INTO room (hotel_room_name, hotel_room_explain,hotel_room_standard_people,
		hotel_room_type,hotel_room_area,hotel_room_fee,hotel_room_count,hotel_initial_count,hotel_image)
		VALUES (#{hotelRoomName},#{hotelRoomExplain} ,#{hotelRoomStandardPeople},
		#{hotelRoomType},#{hotelRoomArea},#{hotelRoomFee},#{hotelRoomCount},#{hotelInitialCount},#{hotelImage}
		);	
	</insert>
	<select id="getRoomList" resultType="com.web.www.domain.hotel.RoomVO">
		select * from room
	</select>
	<delete id="deleteRoom">
		delete from room where hotel_room_num =#{hotelRoomNum}
	</delete>
	
	<update id="modifyRoom">
		update room set hotel_room_name = #{hotelRoomName} ,hotel_room_explain = #{hotelRoomExplain},
		hotel_room_standard_people = #{hotelRoomStandardPeople} ,hotel_room_type = #{hotelRoomType},
		hotel_room_area = #{hotelRoomArea}, hotel_room_fee = #{hotelRoomFee} ,
		hotel_initial_count=#{hotelInitialCount}, hotel_image=#{hotelImage}
		where hotel_room_num =#{hotelRoomNum}								
	</update>
	<select id="selectRoomCnt" resultType="int">
		select count(*) from room
	</select>
	
	<update id="updateRoomCount">
		UPDATE room SET hotel_room_count = COALESCE(hotel_initial_count, 0) - COALESCE((
	    SELECT COUNT(hotel_room_num)
	    FROM room_info
	    WHERE room_info.hotel_room_num = room.hotel_room_num
	    GROUP BY room_info.hotel_room_num ), 0)
	</update>
	<select id="getRoomCount" resultType="int">
		select hotel_room_count from room where hotel_room_num = #{hotelRoomNum};
	</select>
	
  </mapper>