<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.web.www.repository.PayDAO">
  	<insert id="registerPay">
  		insert into pay(pay_imp_uid, pay_merchant_uid, pay_pg, pay_method, pay_name, pay_name_type, pay_amount,
  		member_num, member_email, member_name, member_phone_num, member_address, pay_status)
  		value(#{payImpUid}, #{payMerchantUid}, #{payPg}, #{payMethod}, #{payName}, #{payNameType}, #{payAmount},
  		#{memberNum}, #{memberEmail}, #{memberName}, #{memberPhoneNum}, #{memberAddress}, '결제완료')
  	</insert>
  	
  	<select id="getPayInfoList" resultType="com.web.www.domain.pay.PayInfoVO">
  		select * from pay where member_num = #{memberNum}
  	</select>
  	
  	<insert id="registerRefund">
  		insert into refund(refund_imp_uid, pay_merchant_uid, refund_reason, refund_name, refund_amount, refund_type, refund_name_type)
  		value (#{refundImpUid}, #{payMerchantUid}, #{refundReason}, #{refundName}, #{refundAmount}, #{refundType}, #{refundNameType})
  	</insert>
  	
  	<update id="payMentRefund">
  		update pay set pay_status = '결제취소' where pay_imp_uid = #{payImpUid}
  	</update>
  	
  	<!-- 취소된 내역인지 확인 -->
  	<select id="payStatusCheck" resultType="int">
  		select count(*) from pay where pay_merchant_uid = #{payMerchantUid} and pay_status = '결제취소';
  	</select>
  	
  	<!-- 환불 후 호텔방 갱신 -->
  	<!-- 호텔은 방갯수 갱신 특성상 삭제를 합니다. -->
  	<delete id="refundRoomInfo">
  		delete from room_info where pay_merchant_uid = #{payMerchantUid}
  	</delete>
  	
  	<!-- 환불하기전 마감날짜 체크 -->
	<select id="checkRoomDay" resultType="int">
        <![CDATA[
		    SELECT COUNT(*) FROM room_info
			WHERE pay_merchant_uid = #{payMerchantUid}
			AND DATE_ADD(CURDATE(), INTERVAL 1 DAY) < hotel_reserve_stay_start;
		]]>
    </select>
  	<!-- 환불하기전 마감날짜 체크 -->
	<select id="checkLiftDay" resultType="int">
        <![CDATA[
		    SELECT COUNT(*) FROM rental_lift
			WHERE pay_merchant_uid = #{payMerchantUid}
			AND DATE_ADD(CURDATE(), INTERVAL 1 DAY) < rental_lift_start;
		]]>
    </select>
 	
 	
  	
  </mapper>