<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.www.repository.ProductRenewalDAO">
	
	<!-- 호텔 스케줄링-->
	<select id="hotelRenewalScan" resultType="string">
		<![CDATA[
		select pay_merchant_uid from room_info 
		where hotel_reserve_stay_end < CURRENT_DATE
		]]>
	</select>
	
	<delete id="hotelRenewal">
    	<![CDATA[
        delete from room_info
        where hotel_reserve_stay_end < CURRENT_DATE
		]]>
	</delete>
	
	<!-- 리프트 스케줄링 -->
	<select id="liftRenewalScan" resultType="string">
		<![CDATA[
		select pay_merchant_uid from rental_lift 
		where DATE_ADD(rental_lift_start, INTERVAL 1 DAY) < CURRENT_DATE
		]]>
	</select>
	
	<!-- 렌탈 스케줄링 -->
	<select id="rentalRenewalScan" resultType="string" >
		<![CDATA[
		select pay_merchant_uid from rental_reserve
		where DATE_ADD(rental_reserve_start, INTERVAL 1 DAY) < CURRENT_DATE
		]]>
	</select>
	
	<!-- 쿠폰리뉴얼 -->
	<update id="couponRenewal">
		<![CDATA[
		update coupon set coupon_member_check = 'N' 
		where coupon_end < CURRENT_DATE
		]]>
	</update>
 	
 	<delete id="alarmRenewal">
 		<![CDATA[
 		delete from alarm_system 
 		where alarm_reg_at < DATE_SUB(CURRENT_DATE, INTERVAL 7 DAY);
 		]]>
 	</delete>
 	
 	<!-- 버스 리뉴얼 -->
 	<select id="busNumList" resultType="string">
 		<![CDATA[
 		select bus_num from bus where DATE_ADD(bus_start_date, INTERVAL 1 DAY) < CURRENT_DATE;
 		]]>
 	</select>
 	
 	<update id="busRenewal">
 		<![CDATA[
 		update bus set bus_cancel = 'Y'
 		where DATE_ADD(bus_start_date, INTERVAL 1 DAY) < CURRENT_DATE;
 		]]>
 	</update>
 	
 	<update id="busPeopleRenewal">
 		update busPeopleRenewal set bus_people_limit = bus_people_limit + 1 where bus_num = #{busNum} 
 	</update>
 	
 	
 	
 	
 	
 	
 	
 	<!-- 공용 -->
  	<update id="PayRenuwal">
  		update pay set pay_status = '기간만료' 
  		where pay_merchant_uid = #{payMerchantUid}
  	</update>


	
</mapper>