<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.www.repository.RentalDAO">
	<insert id="liftReserve">
		insert into rental_lift(rental_lift_num,rental_lift_ticket,rental_lift_adult_fee,
		rental_lift_kid_fee,rental_lift_adult,rental_lift_kid,rental_lift_start)
		values(#{rentalLiftNum},#{rentalLiftTicket},#{rentalLiftAdultFee},
		#{rentalLiftKidFee},#{rentalLiftAdult},#{rentalLiftKid},#{rentalLiftStart})
	</insert>
	
	<insert id="rental">
		insert into rental(rental_lift_num,member_email,rental_main_lift,member_type)
		values(#{rentalLiftNum},#{memberEmail},'Y',#{memberType})
	</insert>
	
	<insert id="itemRegister">
		insert into rental_items(rental_list_item_type,rental_list_item_grade,rental_list_low_item,rental_list_mid_item,
		rental_list_premium_item,rental_list_item_count,rental_list_item_explain)
		values(#{rentalListItemType},#{rentalListItemGrade},#{rentalListLowItem},#{rentalListMidItem},
		#{rentalListPremiumItem},#{rentalListItemCount},#{rentalListItemExplain})
	</insert>
	
	<select id="selectOneItemNum" resultType="long">
		select max(rental_list_item_num) from rental_items
	</select>
	

</mapper>