<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.www.repository.RentalDAO">
	<insert id="liftReserve">
		insert into rental_lift(rental_lift_num,rental_lift_ticket,rental_lift_adult_fee,
		rental_lift_kid_fee,rental_lift_adult,rental_lift_kid,rental_lift_start)
		values(#{rentalLiftNum},#{rentalLiftTicket},#{rentalLiftAdultFee},
		#{rentalLiftKidFee},#{rentalLiftAdult},#{rentalLiftKid},#{rentalLiftStart})
	</insert>
</mapper>