<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.www.repository.WeatherDAO">
  
  <insert id="insertRegion">
  	insert into region(region_parent, region_child, region_grand_child, nx, ny)
  	values(#{regionParent}, #{regionChild}, #{regionGrandChild}, #{nx}, #{ny})
  </insert>
  
  <select id="getRegion" resultType="com.web.www.weather.RegionDTO">
	select * from region where region_grand_child = #{regionGrandChild}
  </select>
  
</mapper>