@charset "UTF-8";
a{
	text-decoration-line: none;
}

.notice-img-container{
	height: 60vh;
	background-size: cover;
	background-position: 0px -20vh;
	max-width: 100%;
}

.notice-container{
	padding-top: 200px;
}



/* 헤더 라인 */
.notice-header-h1 {
  text-transform: capitalize;
  
  position: relative;
  padding: 0;
  margin: 0;
  font-family: arial;
  font-weight: 300;
  font-size: 35px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.notice-header-h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #000080;
}

.notice-header-span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
  
  display: block;
  font-size: 0.3em;
  line-height: 3;
}

.notice-header-two h1{
	text-align:center;
}

.notice-header-two h1:before {
  left:50%; margin-left:-30px;
}

.notice-header-p{
	margin-top: 100px;
	text-align: center;
	color: #808080;
}


.notice-menu-container{
	margin-top: 50px;
	margin-bottom: 200px;
	border: 1px solid #dddddd;
}

.notice-menu-container-child{
	width: 80%;
	/* 수평 중앙 정렬하기 */
  	margin: 0 auto;
  	margin-top: 50px; 
  	margin-bottom: 50px; 
}




/* 레지스터 테이블 라인 */
.notice-table{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #4b4b4b;
	border-bottom: 1px solid #4b4b4b;
	border-left: 1px solid #e3dbd7;
	border-right : 1px solid #e3dbd7;
	margin-bottom: 50px;
}

.notice-table-tr{
	border-bottom : 1px solid #e3dbd7;
	
}

.notice-table-th{
	height: 60px;
	width: auto;
	position: relative;
}

.notice-table-th-child{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.notice-table-td{
	height: 60px;
	position: relative;
}
.notice-table-td-child{
	padding: 10px;
	position: absolute;
  	top: 50%;
  	transform: translate(0, -50%);
  	color: #5f5f5f;
}
.notice-table-point-file{	
	color: #5f5f5f;
	text-align: left;
}
.notice-table-point-file-child{
	padding: 20px 50px 0px 450px;
}

.notice-table-td-content{
	padding: 10px;
}

.notice-table-subcontent{
	height: 120px;
	padding: 20px;
	width: calc(100% - 40px);
}

.notice-table-text-content{
	height: 300px;
	padding: 20px;
	width: calc(100% - 40px);	
}

.notice-table-file{
	padding: 10px 10px 0 10px;
	text-align: left;
}




/* 테이블 아이콘 라인 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  vertical-align:middle;
  color: #8d8d8d;
}

.notice-table-td-child-category-span{
	vertical-align:middle;
}

/* 테이블 내용 라인 */
.notice-table-content{
	padding: 30px 20px;
    height: 130px;
    border-left: 1px solid #e3dbd7;
	border-right : 1px solid #e3dbd7;
}
.notice-table-content-child{
	color: #8d8d8d;
	text-align:left;
	padding: 30px 20px;
	height: 10em;
	line-height:1.5em;
}
.notice-table-content-img-container{
	width:100%;
    overflow:hidden;
    margin:0 auto;
    padding: 30px 20px;
    
    position: relative;

}
.notice-table-content-img{
    max-width: 100%;
    max-height: 100%;
}



/* 버튼 아이콘 라인 */
.notice-reg{
	margin-bottom: 60px;
	display: flex;
	float: right;
	column-gap: 5px;
}

.notice-btn{
  	outline: none;
  	width: 130px;
  	height: 40px;
  	padding: 10px 25px;
  	border: 1px solid #414141;
  	font-family: 'Lato', sans-serif;
  	font-weight: 500;
  	background: transparent;
  	cursor: pointer;
  	transition: all 0.3s ease;
  	position: relative;
  	display: inline-block;
}

.mynotice-btn {
   background: #414141;
  color: #fff;

  padding: 0;
  border: 1px solid #414141;
  z-index: 1;
   -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mynotice-btn:hover {
  background: transparent;
  color: #000;
}
.mynotice-btn:before,
.mynotice-btn:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #414141;
  transition: all 0.3s ease;
}
.mynotice-btn:before {
  top: 0;
}
.mynotice-btn:after {
  bottom: 0;
}
.mynotice-btn:hover:before,
.mynotice-btn:hover:after {
  height: 0;
  background-color: #414141;
  border: 1px solid #dddddd;
}


.mynotice-btn-delete {
   background: #800000;
  color: #fff;

  padding: 0;
  border: 1px solid #800000;
  z-index: 1;
   -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.mynotice-btn-delete:hover {
  background: transparent;
  color: #000;
}
.mynotice-btn-delete:before,
.mynotice-btn-delete:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #800000;
  transition: all 0.3s ease;
}
.mynotice-btn-delete:before {
  top: 0;
}
.mynotice-btn-delete:after {
  bottom: 0;
}
.mynotice-btn-delete:hover:before,
.mynotice-btn-delete:hover:after {
  height: 0;
  background-color: #800000;
  border: 1px solid #dddddd;
}


.notice-detail-btn {
	text-align: center;
}
.notice-detail-btn>a {
	text-decoration: none;
}


/* 관리자버튼 */
.my-admin-btn {
   background: #d67e0a;
  color: #fff;

  padding: 0;
  border: 1px solid #d67e0a;
  z-index: 1;
   -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.my-admin-btn:hover {
  background: transparent;
  color: #000;
}
.my-admin-btn:before,
.my-admin-btn:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #d67e0a;
  transition: all 0.3s ease;
}
.my-admin-btn:before {
  top: 0;
}
.my-admin-btn:after {
  bottom: 0;
}
.my-admin-btn:hover:before,
.my-admin-btn:hover:after {
  height: 0;
  background-color: #d67e0a;
  border: 1px solid #dddddd;
}








