@charset "UTF-8";

.notice-container{
	margin-top: 250px;
	margin-bottom: 300px;
}



/* 검색 라인 */
.notice-search-container{
	background-color: #f5f5f5;
	height: 100px;
	margin-bottom: 80px;
	justify-content: center;
	display: flex;
	align-items: center;
}

.notice-search-category{
	
}

.notice-input-container{
	width: 780px;
	max-width: 100%;
}

.notice-search-input{
	background: transparent;
	border-width: 0 0 1px;
	color: #919393;
}

.notice-search-button{
	background-color: #ae8d73;
	max-width: 135px;
	min-width: 135px;
	border: none;
	height: 40px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	color: white;
}




/* 카테고리 라인 */
.notice-category{
	margin-bottom: 0px;
}




/* 리스트 테이블 라인 */

.notice-table{
	text-align: center;
}

.notice-table-tr{
	border-bottom: 1px solid #e3dbd7;
	
}

.notice-table-th-no{
	height: 60px;
	width: 100px;
	position: relative;
}

.notice-table-th-cago{
	height: 60px;
	width: 150px;
	position: relative;
}

.notice-table-th-title{
	height: 60px;
	width: auto;
	position: relative;
}

.notice-table-th-writer{
	height: 60px;
	width: 100px;
	position: relative;
}

.notice-table-th-reg{
	height: 60px;
	width: 120px;
	position: relative;
}

.notice-table-th-count{
	height: 60px;
	width: 80px;
	position: relative;
}

.notice-table-td{
	height: 60px;
	position: relative;
}

.notice-table-td-child{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.notice-table-td-child-title{
	padding-left: 10px;
	position: absolute;
  	top: 50%;
  	transform: translate(0, -50%);
  	
}