@charset "UTF-8";
.qna-container{
	margin-top: 200px;
}


/* 헤더 라인 */
.qna-header-h1 {
  text-transform: capitalize;
  
  position: relative;
  padding: 0;
  margin: 0;
  font-family: arial;
  font-weight: 300;
  font-size: 35px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.qna-header-h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.qna-header-span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
  
  display: block;
  font-size: 0.3em;
  line-height: 3;
}

.qna-header-two h1{
	text-align:center;
}

.qna-header-two h1:before {
  left:50%; margin-left:-30px;
}

.qna-header-p{
	margin-top: 100px;
	text-align: center;
	color: #808080;
}




.qna-img-container{
	height: 40vh;
	background-size: cover;
	background-position: 0px -20vh;
	max-width: 100%;
}

.qna-menu-container{
	margin-top: 50px;
	margin-bottom: 200px;
	border: 1px solid #dddddd;
}

.qna-menu-container-child{
	width: 80%;
	/* 수평 중앙 정렬하기 */
  	margin: 0 auto;
  	margin-bottom: 200px; 
}



/* 검색 라인 */
.qna-search-container{
	background-color: #f3efe4;
	height: 100px;
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	column-gap: 20px;
	/* 수평 중앙 정렬하기 */
  	margin: 0 auto;
  	margin-bottom: 50px;
  	margin-top: 80px;
}

.qna-search-category{
	background-color: transparent;
	border-color: transparent;
	color: #919393;
}

.qna-input-container{
	max-width: 100%;
	border-color: transparent;
}

.qna-search-input{
	width: 650px;
	height: 40px;
	background: transparent;
	border-width: 0 0 1px;
	border-color: #919393;
	color: #919393;
	padding-left: 10px;
	outline: none;
}

.qna-search-button{
	background-color: #ae8d73;
	max-width: 135px;
	min-width: 135px;
	border: none;
	height: 40px;
	transition: all 0.3s ease;
}
.qna-search-button:hover{
	background-color: #804000;
	max-width: 135px;
	min-width: 135px;
	border: none;
	height: 40px;
	transition: all 0.3s ease;
}

.qna-search-button>div{
	justify-content: center;
	align-items: center;
	font-weight: 800;
	color: white;
	font-size: 16px;	
}

.qna-search-button:hover{
	box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}




/* 카테고리 라인 */
.qna-category{
	margin-bottom: 0px;
}
.nav-link{
	color: black;
}




/* 리스트 테이블 라인 */

.qna-table{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}

.qna-table>thead{
	border-top: 1px solid #4b4b4b;
}

.qna-table-tr{
	border-bottom: 1px solid #e3dbd7;
	
}

.qna-table-th-no{
	height: 60px;
	width: 80px;
	position: relative;
}

.qna-table-th-cago{
	height: 60px;
	width: 120px;
	position: relative;
}

.qna-table-th-title{
	height: 60px;
	width: auto;
	position: relative;
}

.qna-table-th-isok{
	height: 60px;
	width: 150px;
	position: relative;
}

.qna-table-th-reg{
	height: 60px;
	width: 120px;
	position: relative;
}

.qna-table-th-count{
	height: 60px;
	width: 80px;
	position: relative;
}

.qna-table-td{
	height: 60px;
	position: relative;
}

.qna-table-td-child{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: #5f5f5f;
  	;
}

.qna-table-td-child-category{
	width:120px;
	position: absolute;
	top: 50%;
	left: 45%;
  	transform: translate(-50%, -50%);
  	color: #5f5f5f;
}

.qna-table-td-child-title{
	padding-left: 20px;
	position: absolute;
  	top: 50%;
  	transform: translate(0, -50%);
  	color: #5f5f5f;
  	
}
.qna-table-td-child-title a{
	text-decoration-line: none;
	color: inherit;
}

.qna-isok-y.isok-end.isok-line{
	font-size: 13px;
    border: 1px solid #008000;
    color: #008000;
    background: #ffffff;
}

.qna-isok-y.isok-end{
    width: 75px;
    border: 1px solid #008000;
    color: #ffffff;
    background: #008000;
    line-height: 25px;
}

.qna-isok-n.isok-end.isok-line{
	font-size: 13px;
    border: 1px solid #dd6f00;
    color: #dd6f00;
    background: #ffffff;
}

.qna-isok-n.isok-end{
    width: 75px;
    border: 1px solid #dd6f00;
    color: #ffffff;
    background: #dd6f00;
    line-height: 25px;
}


/* 테이블 아이콘 라인 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  vertical-align:middle;
  color: #8d8d8d;
}

.qna-secret-title{
	vertical-align:middle;
}

.qna-table-td-child-category-span{
	vertical-align:middle;
}






/*페이징 라인*/
.qna-paging-container{
	display: flex;
  	justify-content: center;
  	margin-bottom: 60px;
}

.qna-paging-ul>li>a{
	color: #8d8d8d;
	font-family: sans-serif;
}
.qna-paging-ul>li>a:hover{
	color: #800000;
	font-family: sans-serif;
}




/*등록 버튼 라인*/
.qna-reg{
	margin-bottom: 60px;
	display: flex;
	float: right;
	column-gap: 5px;
}

.qna-btn{
  	outline: none;
  	width: 130px;
  	height: 40px;
  	padding: 10px 25px;
  	border: 1px solid #414141;
  	font-family: 'Lato', sans-serif;
  	font-weight: 500;
  	background: transparent;
  	cursor: pointer;
  	transition: all 0.3s ease;
  	position: relative;
  	display: inline-block;
}

.myqna-btn {
   background: #414141;
  color: #fff;

  padding: 0;
  border: 1px solid #414141;
  z-index: 1;
   -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.myqna-btn:hover {
  background: transparent;
  color: #414141;
}
.myqna-btn:before,
.myqna-btn:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #414141;
  transition: all 0.3s ease;
}
.myqna-btn:before {
  top: 0;
}
.myqna-btn:after {
  bottom: 0;
}
.myqna-btn:hover:before,
.myqna-btn:hover:after {
  height: 0;
  background-color: #414141;
  border: 1px solid #dddddd;
}

/* 관리자버튼 */
.my-admin-btn {
   background: #d67e0a;
  color: #fff;

  padding: 0;
  border: 1px solid #d67e0a;
  z-index: 1;
   -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.my-admin-btn:hover {
  background: transparent;
  color: #000;
}
.my-admin-btn:before,
.my-admin-btn:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #d67e0a;
  transition: all 0.3s ease;
}
.my-admin-btn:before {
  top: 0;
}
.my-admin-btn:after {
  bottom: 0;
}
.my-admin-btn:hover:before,
.my-admin-btn:hover:after {
  height: 0;
  background-color: #d67e0a;
  border: 1px solid #dddddd;
}




