@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500&display=swap');
.footer{
	padding: 30px;
	height: 75px;
}



.foot-color{
	background-color: black;
	color: #c5c3c3;
}
.footHeader{
	font-family: 'Bebas Neue', sans-serif;
    font-size: 41px;
    text-align: center;
    padding: 40px 0;
}
.footer-hr{
	margin: 0;
	color: white;
	font-size: 30px;
	font-weight: 300;
}
.foot-header{
	padding: 15px;
	width: 100%;
	margin-bottom: 15px;
}
.footContainer{
	 height: 300px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
	padding: 50px 0;
    font-weight: 100;
    line-height: 25px;
    display: flex;
    justify-content: space-evenly;
}
.foot{
	float: left;
	margin-right: 10px;
	font-size: 30px;
}
.foot-items{
	float: left;
}
.foot-select{
	
	height: 20px;
	background-color: white;
}
.foot-select:hover {
	cursor: pointer;
}
.foot-select-box{
	background-color: white;
	font-weight: 100;
	padding: 5px;
}
.move-top{
	position: fixed;
	color : white;
	right: 20px;
	bottom: 10px;
	font-weight: 200;
	font-size: 60px;
	mix-blend-mode: difference;
}
.bi-arrow-up-short{
	border-radius: 100%;
	border: 1px solid black;

}
.sns{
	font-size: 30px;

}
.sns>li{
		margin-right: 30px;
		    transform: translateY(-8px);
		
}
.sns>li:hover {
	cursor: pointer;
}
.footContainer_item1{
	font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
	
}
.footContainer_item1>ul>li{
	margin-top: 15px;
}
.footContainer_item1>ul>li:hover {
	cursor: pointer;
}
.footContainer_item2>ul>li{
	  font-size: 14px;	
	  margin-bottom: 10px;
}
.footContainer_item_title{
	font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    padding: 20px 0;
}
.footer_email{
	text-align: center;
	font-size:15px;
	transform: translateY(-110px);
	}
	.footer_right{
	 transform: translateY(-50px);
	}
