@charset "UTF-8";

@import url(/resources/css/reset.css);

.navbar {
	width: 100%;
	height: 0px;
	background-color: black;
	transition: height 0.5s;
	opacity: 0.5;
	position: fixed;
}



.navbar-brand {
	font-size: 25px;
	text-decoration: none;
	color: white;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.nav-link>A {
	display: block;
	height: 50px;
	width: 75px;
	text-decoration: none;
	line-height: 25px;
	font-size: 20px;
	color: white;
	margin-top: 10px;
}

.collapse {
	display: flex;
	float: left;
}

.collapse>div {
	margin: auto;
	height: 50px;
	width: 75px;
	color: white;
	padding: 20px;
}