@charset "UTF-8";

@import url(/resources/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Jua&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Sunflower:wght@300;500&family=Noto+Sans+KR&display=swap');
.none-click{
	user-select: none;
}
.navContainer {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
}

#hide {
	width: 100%;
	height: 96px;
	transition: opacity 0.5s;
	background-color: black;
	position: absolute;
	top: 0;
}

.ski-navbar {
	width: 100%;
	height: 0px;
	background-color: black;
	transition: height 0.5s, opacity 0.5s;
	position: absolute;
	top: 0;
	user-select: none;
	
}


.ski-nav-link>A {
	display: block;
	text-decoration: none;
	line-height: 35px;
	font-family: 'Sunflower', sans-serif;
	font-size: 20px;
	color: white;
	margin-top: 10px;
}

.ski-collapse {
	display: flex;
	float: left;
	justify-content: center;
	width: 100%;
	position: relative;
}

.ski-collapse>div {
	color: white;
	padding: 20px;
	padding-top: 20px;
	margin-left: 15px;
}

.ski-blank {
	width: 100%;
	height: 0px;
}
.ski-side-navbar{
	margin-top: 10px;
	color: white;
	position: absolute;
	top: 10px;
	right: 15px;
	opacity: 0.7;

}
.admin-page-icon{
	position: absolute;
	right: -16px;
	top : -1px;
}
.ski-side-navbar > li{
	float: left;
	font-size: 15px;
	margin-right: 10px;
}

.ski-side-navbar > li > a{
	text-decoration: none;
	font-size: 15px;
	color: white;
	
}

.ski-navbar-brand:hover{
	text-decoration: none;
	color: white;
}
.nav-ani{
	display:block;
	position: absolute;
	background-color: white;
	left: 50%;
	transform: translateX(-50%);
	width: 0px;
	height: 2px;
	bottom: -1px;
	transition: all .2s;
	
}
.ski-navbar-brand{
	position: relative;
}
.ski-nav-link{
	position: relative;
}
.ski-nav-link:hover ~ .nav-ani{
	width: 100%;
}



/***************** 알람 관련 ********************/

.member-alarm{
	position: absolute;
    font-size: 23px;
    top: -5px;
    left: -30px;
    cursor: pointer;
}

.member-alarm>i>.alarm-bell-deco{
    position: absolute;
    left: 14px;
    top: 1px;
    font-size: 9px;
    text-align: center;
    padding-top: 3px;
    padding-right: 3px;
    width: 15px;
    height: 14px;
    background-color: red;
    border-radius: 100%;
    display: none;
	
}

.member-alarm-board{
	position: absolute;
	top: 75px;
	right: -500px;
	width: 400px;
	height: 400px;
	background-color: black;
	border-bottom-left-radius: 50px;
	opacity: 0.8;
	transition: 0.5s;
}



.member-alarm>i {
    transition: filter 0.8s, color 0.8s; /* 색상 및 밝기 변화에 대한 트랜지션 속성 추가 */
}

.member-alarm>i:hover {
    filter: brightness(200%);
    color: rgb(0, 255, 255);
}

.alarm-board-title{
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}
.alarm-board-title>a{
	text-decoration-line: none;
	color: white;
}

.alarm-board-body{
	margin-left: 20px;
	margin-top: 50px;
}
.alarm-board-body>ul>li{
	margin-bottom: 10px;
}

.alarm-board-body>ul>li>a{
	display: inline-block;
	color: white;
	text-decoration-line: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 270px;
}

.alarm-board-body>ul>li>span{
	padding-bottom: -10px;
}

.main-title-logo{
	margin-top: 3px;
}



